<th:block xmlns:th="https://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg custom-navbar shadow mb-3" style="background-color: #242526;">
        <a class="navbar-brand" style="color: #c49a5b;" href="/login">NW</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: #ffd369;" href="/login">Login<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="mr-auto"></div>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <input class="btn" style="background-color: #242526; color: #B1B3B7;" type="submit" value="Logout"/>
        </form>
    </nav>
</th:block>
