.custom-form {
    text-align: center;
    margin: auto;
    background-color: #eeeeee;
    border-radius: 5px;
    padding-top: 10px;
}

.custom-form select{
    width: 200px;
}

.custom-form input{
    width: 200px;
    display: inline;
}

.custom-error {
    color: indianred;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin: 5px;
}

.hidden {
    display: none;
}